<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask HTML API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background-color:blue;">
    <div class="navbar">
        <div class="navlink">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <div class="helloworld">
        <p class="hellotext">Hello World!</p>
    </div>

    <footer class="footer">
        <video class="footer_video" muted="" loop="" autoplay
            src="//cdn.shopify.com/s/files/1/0526/6905/5172/t/5/assets/footer.mp4?v=29581141968431347981633714450"
            type="video/mp4">
        </video>
        <div class="container">
            <div class="footer_inner">
                <div class="c-footer">
                    <div class="layout">
                        <div class="layout_item w-50">
                            <div class="newsletter">
                                <h3 class="newsletter_title">Current Year: 2024</h3>
                                <a class="newsletter_title" href="https://github.com/autom8ers/CA2"
                                    _target="blank">https://github.com/autom8ers/CA2</h3>


                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copyright">
                <p>CA2 - By Automa8ers</p>
            </div>
        </div>
    </footer>
</body>

</html>